<h4>Dashboard</h4>
<h2>Welcome, {{name}}</h2>
<p>Here are your Entries</p>
{{#if entries}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each entries}}
            <tr>
                <td><a href="/entries/{{_id}}">{{title}}</a></td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <a href="/entries/edit/{{_id}}" class="btn btn-float">
                        <i class="fas fa-pen"></i>
                    </a>
                    <form action="/entries/{{_id}}" method="POST" id="delete-form" class="btn-float">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn red"><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
<p>You have not created any Entries</p>
{{/if}}